@Model List<ProyectoIPC2.Models.Lecturaxml>



@{
    ViewBag.Title = "OthelloXtreme";
}

   


    @{
        int columnas = (int)@ViewData["Columnas"];
        int filas = (int)@ViewData["filas"];
        int colaux = columnas;
        int tamaño = columnas * filas;
        int c = (int)ViewData["salto"];

    }
    @{

        Layout = null;
        List<int> indices = new List<int>();

        for (int i = 0; i < tamaño; i++)
        {
            indices.Add(i);
        }
    }




    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/Content/coloresxtreme.css" />
        <title>Index</title>
    </head>

    <body>
        <!--            SECCION  1-->
        <div>
            <!-- Contenedor Principal -->
            <header class="fila">
                <!-- seccion del header donde va el logo-->
                <div id="logo" class="col-lg-2">
                    <label>Ganador:</label> @ViewBag.Ganador
                </div>
                <div id="logo" class="col-lg-6">
                    @{
                        if (ViewBag.Turno == "j1")
                        {
                            <label>Turno: USUARIO</label>
                        }
                        else
                        {

                            <label>Turno:@ViewBag.Invitado</label>
                        }

                    }


                </div>
                <div id="usuario" class="col-lg-3"> <p></p></div>
                <div id="salir" class="col-lg-1">
                    <button type="submit" onclick="location.href='@Url.Action("Menujuego", "Login")'"> Salir </button>
                </div>
            </header>
            <nav class="fila">
                <!-- SECCION DONDE VA LA NAVEGACION y botones-->

                <ul>
                    <li class="col-lg-2">
                        <p> </p>
                    </li>
                    @using (Html.BeginForm(actionName: "Iniciar1", controllerName: "Othelloxtr"))
                    {
                        <li class="col-lg-1">
                            <button type="submit" value=27>
                                iniciar
                            </button>
                        </li>
                    }

                    @using (Html.BeginForm(actionName: "Limpiar", controllerName: "Archivosxml"))
                    {
                        <li class="col-lg-1">
                            <button type="submit" value=27>
                                Limpiar
                            </button>
                        </li>
                    }

                    @using (Html.BeginForm(actionName: "Guardarxml", controllerName: "Archivosxml"))
                    {
                        <li class="col-lg-2">
                            <button type="submit" name="a">
                                Guardar partida
                            </button>
                        </li>
                    }
                    @using (Html.BeginForm("Cargarxml", "Archivosxml", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <li class="col-lg-3">
                            <input type="file" name="file" accept=".xml" />
                        </li>
                        <li class="col-lg-1">
                            <button type="submit">Cargar </button>
                        </li>

                    }

                </ul>
            </nav>
            <!-- SECCION 3 DONDE VA EL JUGADOR Y MOVIMIENYOS-->

            <section id="seccion3" class="fila">
                <div class="col-lg-12"> <p> </p> </div>
            </section>



            <!-- SECCION DONDE VA EL  TABLERO-->
            <!--  SECCION DONDE VA EL ABECEDARIO DE CABECERA-->
            <section id="seccionextra" class="fila">
                <div class="col-lg-1"> <p> </p> </div>
                <div class="col-lg-@c">
                    @{
                        for (int i = 0; i < columnas; i++)
                        {

                            <div id="filas"><h2>@ViewBag.alfabeto[i]</h2> </div>
                        }
                    }
                </div>

            </section>
            <!--  TERMINA LA SECCION DONDE VA EL ABECEDARIO DE CABECERA-->
            <!--    SECCION DONDE VA  EL TABLERO  CON SU TAMAÑO          -->
            <section id="seccion4" class="fila">
                <!--  LADO IZQUIERDO DE LA ENUMERACION DE LAS FILAS -->
                <div class="col-lg-1">
                    @{
                        for (int i = 0; i < filas; i++)
                        {

                            <div id="columna"><h2>@(i + 1)</h2> </div>
                        }
                    }
                </div>

                <div class="col-lg-@c" id="divocultamuestra">
                    @using (Html.BeginForm(actionName: "Jugar", controllerName: "Othelloxtr"))
                    {
                        int contar = 0;

                        for (int i = 0; i < tamaño; i++)
                        {
                            if (contar == colaux)
                            {
                                contar += 1;
                                colaux += columnas + 1;
                                i -= 1;
                                <div class="cont2">
                                </div>
                            }
                            else
                            {
                                contar += 1;
                                <div class="cont">
                                    <button type="submit" value=@i class="hid" name="a">
                                        <div class="inside @ViewBag.Juego[i]">
                                        </div>
                                    </button>
                                </div>
                            }
                        }
                    }
                </div>
                <!--  LADO DERECHO  DE LA ENUMERACION DE LAS FILAS -->
                <div class="col-lg-1">
                    @{
                        for (int i = 0; i < filas; i++)
                        {

                            <div id="columna"><h1>@(i + 1)</h1> </div>
                        }
                    }
                </div>

            </section>
            <!--    SECCION DONDE TERMINA   EL TABLERO  CON SU TAMAÑO          -->
            <!--  SECCION DONDE VA EL ABECEDARIO DE PIE DEL TABLERO -->
            <section id="seccionextra" class="fila">
                <div class="col-lg-1"> <p> </p> </div>
                <div class="col-lg-@c">
                    @{
                        for (int i = 0; i < columnas; i++)
                        {

                            <div id="filas"><h2>@ViewBag.alfabeto[i]</h2> </div>
                        }
                    }
                </div>
            </section>
            <!--  TERMINA LA SECCION DONDE TERMINA  VA EL ABECEDARIO DE PIE DEL TABLERO-->
            <!-- DONDE VAN EL FOODER O LOS DATOS PERSONALES-->
            <section id="seccion5">


                <div class="col-lg-5">
                    <center>
                        <h3> Usuario</h3>
                        <label>Movimientos:</label> @ViewBag.Mov1
                    </center>
                    <center>
                        <h3> Punteo</h3>
                        <label>Punteo:</label> @ViewBag.Punteo1
                    </center>
                    <center>
                        <h3> Colores </h3>
                        @{
                            foreach (var col in ViewBag.Color1)
                            {
                                <div class="cont">
                                        <div class="inside @col">
                                        </div>
                                </div>
                            }


                        }

                    </center>

                </div>






            </section>


</body>
    @if (ViewBag.ShowAlert != null)
    {
        <script>alert("Movimiento no valido");</script>

    }

    @if (ViewBag.Carga != null)
    {
        <script type="text/javascript">
        alert('@ViewBag.Carga');
        </script>
    }
</html>

